<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SocialNetworkManagement</servlet-name>
        <servlet-class>nguyenla.controller.SocialNetworkManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAccountServlet</servlet-name>
        <servlet-class>nguyenla.controller.LoginAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <servlet-class>nguyenla.controller.RegisterAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutAccountServlet</servlet-name>
        <servlet-class>nguyenla.controller.LogOutAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostArticleServlet</servlet-name>
        <servlet-class>nguyenla.controller.PostArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomePageServlet</servlet-name>
        <servlet-class>nguyenla.controller.LoadHomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchContentServlet</servlet-name>
        <servlet-class>nguyenla.controller.SearchContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCommentServlet</servlet-name>
        <servlet-class>nguyenla.controller.PostCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>nguyenla.controller.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRemoveServlet</servlet-name>
        <servlet-class>nguyenla.controller.AdminRemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationAccountServlet</servlet-name>
        <servlet-class>nguyenla.controller.NotificationAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowNotificationServlet</servlet-name>
        <servlet-class>nguyenla.controller.ShowNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClickEmotionServlet</servlet-name>
        <servlet-class>nguyenla.controller.ClickEmotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckClick</servlet-name>
        <servlet-class>nguyenla.controller.CheckClick</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SocialNetworkManagement</servlet-name>
        <url-pattern>/SocialNetworkManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAccountServlet</servlet-name>
        <url-pattern>/LoginAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <url-pattern>/RegisterAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutAccountServlet</servlet-name>
        <url-pattern>/LogOutAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostArticleServlet</servlet-name>
        <url-pattern>/PostArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomePageServlet</servlet-name>
        <url-pattern>/LoadHomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchContentServlet</servlet-name>
        <url-pattern>/SearchContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCommentServlet</servlet-name>
        <url-pattern>/PostCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/DeleteCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRemoveServlet</servlet-name>
        <url-pattern>/AdminRemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationAccountServlet</servlet-name>
        <url-pattern>/NotificationAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowNotificationServlet</servlet-name>
        <url-pattern>/ShowNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClickEmotionServlet</servlet-name>
        <url-pattern>/ClickEmotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckClick</servlet-name>
        <url-pattern>/CheckClick</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>SocialNetworkManagement</welcome-file>
    </welcome-file-list>
</web-app>
